attrs==19.1.0
backcall==0.1.0
bleach==3.3.0
blis==0.2.4
certifi==2019.6.16
chardet==3.0.4
cymem==2.0.2
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
idna==2.8
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
jedi==0.14.1
Jinja2==2.11.3
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
MarkupSafe==1.1.1
mistune==0.8.4
murmurhash==1.0.2
nbconvert==5.5.0
nbformat==4.4.0
notebook==6.1.5
numpy==1.16.4
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
plac==0.9.6
preshed==2.0.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.7.4
pyrsistent==0.15.3
python-dateutil==2.8.0
pyzmq==18.0.2
qtconsole==4.5.2
requests==2.22.0
Send2Trash==1.5.0
six==1.12.0
spacy==2.1.6
srsly==0.0.7
terminado==0.8.2
testpath==0.4.2
thinc==7.0.8
tornado==6.0.3
tqdm==4.32.2
traitlets==4.3.2
urllib3==1.26.5
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.0
